{% extends "base.html" %}

{% block title %}Ziwei's Blogging Site{% endblock %}

{% block content %}
    <h1>Welcome to {{user.name}}'s Blogging Site</h1>
    <p>Here are your blogs</p>
    
   
    <table class="table table-stripped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Posted By</th>
        </tr>
        </thead>
        <tbody>
        {% for blog in blogs_data %}
        <tr>
            <td><a href="/blog/{{blog.id}}">{{blog.title}}</a></td>
            <td>{{blog.user_id}}</td>
            <td>{{blog.publised_date}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        <a class="btn btn-primary" href="/add_blog">Add a blog here</a>
{% endblock %}
